$mint:#44AEC6;
$white:#ffffff;
$dark_gray:#171717;
$dark_white:#f6f4f4;

$px3:0.8333333333333333vw;
$px4:1.111111111111111vw;
$px5:1.388888888888889vw;
$px8:2.222222222222222vw;
$px10:2.777777777777778vw;
$px12:3.333333333333333vw;
$px13:3.611111111111111vw;
$px14:3.888888888888889vw;
$px15:4.166666666666667vw;
$px16:4.444444444444444vw;
$px17:4.722222222222222vw;
$px18:5vw;
$px20:5.555555555555556vw;
$px21:5.833333333333333vw;
$px23:6.388888888888889vw;
$px24:6.666666666666667vw;
$px25:6.944444444444444vw;
$px26:7.222222222222222vw;
$px30:8.333333333333333vw;
$px38:10.55555555555556vw;
$px42:11.66666666666667vw;
$px44:12.22222222222222vw;
$px45:12.5vw;
$px50:13.88888888888889vw;
$px80:22.22222222222222vw;
$px101:28.05555555555556vw;
$px130:36.11111111111111vw;
$px200:55.55555555555556vw;
