@font-face {
  font-family: poppins;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  src: url("../font/Poppins-Regular.woff") format("woff"), url("../font/Poppins-Regular.ttf") format("truetype"); }
@font-face {
  font-family: poppins;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  src: url("../font/Poppins-Bold.woff") format("woff"), url("../font/Poppins-Bold.ttf") format("truetype"); }
@font-face {
  font-family: cormorant;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  src: url("../font/Cormorant-Regular.woff") format("woff"), url("../font/Cormorant-Regular.ttf") format("truetype"); }
@font-face {
  font-family: cormorant;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  src: url("../font/Cormorant-Bold.woff") format("woff"), url("../font/Cormorant-Bold.ttf") format("truetype"); }
@font-face {
  font-family: NtSansKR;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  src: url("../font/NotoSansKR-Regular.woff") format("woff"); }
@font-face {
  font-family: NtSansKR;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  src: url("../font/NotoSansKR-Bold.woff") format("woff"); }
body, h1, h2, h3, h4, h5, h6, ul, p, button {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

img {
  vertical-align: top;
  max-width: 100%; }

address {
  font-style: normal; }

button {
  border: none;
  background: none;
  cursor: pointer; }

header, nav, section, article, footer {
  display: block; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.p_a {
  position: absolute; }

.p_r {
  position: relative; }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.blind-b {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.center {
  text-align: center; }

.m-15 {
  margin: 0 -15px; }

.dark_gray {
  color: #171717; }

.border4 {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #f6f4f4; }

.p10 {
  padding: 0 10px; }

body {
  font-family: poppins,NtSansKR,cormorant;
  font-size: 14px;
  font-weight: 400;
  color: #f6f4f4;
  line-height: 21px;
  word-break: keep-all;
  background: #282828; }

#header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  z-index: 1000;
  background: #171717; }

.btn_menu {
  top: 17px;
  left: 16px;
  width: 26px;
  height: 26px;
  z-index: 1100;
  overflow: hidden; }
  .btn_menu, .btn_menu .line {
    position: absolute; }
  .btn_menu .line {
    width: 100%;
    height: 4px;
    left: 0;
    background: #ffffff; }
  .btn_menu .top {
    top: 0; }
  .btn_menu .mid {
    top: 11px; }
  .btn_menu .btm {
    bottom: 0;
    width: 60%; }

.logo {
  top: 7.5px;
  left: 133.5px;
  width: 93px;
  height: 43px; }
  .logo, .logo a img {
    position: absolute; }
  .logo a img {
    padding-top: 10.5px; }

#gnb {
  position: fixed;
  top: 0;
  bottom: 0;
  /* left: 100%; */
  width: 300px;
  background: #ffffff;
  color: #171717;
  font-weight: 700;
  /* overflow-y: auto; */ }
  #gnb > ul {
    padding-top: 200px;
    position: relative; }
    #gnb > ul::before {
      content: "";
      position: absolute;
      top: 44px;
      left: 0;
      background: url("../images/icon/common/navLogo.svg") no-repeat; }
    #gnb > ul > li {
      font-size: 18px; }
      #gnb > ul > li > a {
        padding: 40px 20px; }
        #gnb > ul > li > a:first-child {
          padding-top: 26px; }
    #gnb > ul ul li a {
      display: block; }
    #gnb > ul ul li ul {
      background: #f6f4f4;
      padding: 13.5px 0;
      margin-top: 8px; }
      #gnb > ul ul li ul li a {
        padding: 7px 20px; }

.util {
  top: 18px;
  right: 10px; }
  .util ul {
    height: 22px; }
  .util ul li {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 46px; }
    .util ul li .btn_withus {
      border: 1px solid #44AEC6; }
    .util ul li .btn_donate {
      background: #44AEC6; }

#footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #171717;
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 117px;
  padding: 50px 18px; }
  #footer > a {
    display: inline-block;
    width: 146px;
    height: 33.48px;
    padding: 50px 0 42px; }
  #footer ul, #footer address {
    width: 324px; }
  #footer ul li {
    display: inline-block;
    /* position: relative; */
    /* &::before{
        @include transform(transitionY(6px));
        content: "";position: absolute;top: 50%;left: 0;width: 1px;height: 12px;background: $dark_white;
    } */ }
    #footer ul li + li {
      margin: 0 4px; }
    #footer ul li .privacy {
      font-weight: 700; }
  #footer .copyright {
    padding-bottom: 50px; }

/*# sourceMappingURL=common.css.map */
