@charset "utf-8";
@import "_mixin","_var";
@font-face{font-family: poppins;font-weight: 400;font-style: normal;font-size: 18px;
src: url("../font/Poppins-Regular.woff") format("woff"),
url("../font/Poppins-Regular.ttf") format("truetype");
}
@font-face{font-family: poppins;font-weight: 700;font-style: normal;font-size: 18px;
    src: url("../font/Poppins-Bold.woff") format("woff"),
    url("../font/Poppins-Bold.ttf") format("truetype");
}
@font-face{font-family: cormorant;font-weight: 400;font-style: normal;font-size: 18px;
    src: url("../font/Cormorant-Regular.woff") format("woff"),
    url("../font/Cormorant-Regular.ttf") format("truetype");
}
@font-face{font-family: cormorant;font-weight: 700;font-style: normal;font-size: 18px;
    src: url("../font/Cormorant-Bold.woff") format("woff"),
    url("../font/Cormorant-Bold.ttf") format("truetype");
}
@font-face{font-family: NtSansKR;font-weight: 400;font-style: normal;font-size: 18px;
    src: url("../font/NotoSansKR-Regular.woff") format("woff");}
@font-face{font-family: NtSansKR;font-weight: 700;font-style: normal;font-size: 18px;
    src: url("../font/NotoSansKR-Bold.woff") format("woff");}


//tag reset
body,h1,h2,h3,h4,h5,h6,ul,p,button{margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6{font-size: inherit;}
ul{list-style: none;}
a:link,a:visited,a:hover,a:active{color: inherit;text-decoration: none;}
img{vertical-align: top;max-width: 100%;}
address{font-style: normal;}
button{border:none;background: none;cursor: pointer;color: inherit;}
header,nav,section,article,footer{display: block;}

//common class
.f_l{float: left;}
.f_r{float:right;}
.p_a{position: absolute;}
.p_r{position: relative;}
.clearfix::after{content: "";clear: both;display: block;}
.blind-b{width: 1px;height: 1px;overflow: hidden;border:none;position: absolute;clip: rect(1px,1px,1px,1px);clip-path: inset(50%);}
.center{text-align: center;}
.m-15{margin: 0 -15px;}
.dark_gray{color: #171717;}
.border4{@include radius($px4);border: $px1 solid $dark_white;}
.p10{padding: 0 10px;}


body{font-family: poppins,NtSansKR,cormorant;font-size: $px14;font-weight: 400;color: $dark_white;line-height: $px21;word-break: keep-all;background: #282828;}

//header
#header{
    position: fixed;top: 0;left: 0;width: 100%;height: 16.11111111111111vw;z-index: 1000;background: $dark_gray;
}
.logo{
    @include transform(translate(-50%,-50%));
    top:50%;left:50%;width: 25.83333333333333vw;height: 11.94444444444444vw;
    &,a img{position: absolute;}
    a img{margin-top: 3.009722222222222vw;}
}
.btn_menu{
    &,.line{position: absolute;}
    top: $px17;left: $px16;width: $px26;height: $px26;z-index: 1100;overflow: hidden;
    .line{width: 100%;height: $px4;left: 0;background: $white;}
    .top{top: 0;}
    .mid{top: 3.055555555555556vw;}
    .btm{bottom: 0;width: 60%;}
}
#gnb{
   display:none;position: fixed;top: 0;left: -83.3vw;bottom: 0;color: $dark_gray;font-weight: 700;background: $white;width: 83.3vw;overflow-y:auto;z-index: 1200;
    span{display:block;left: 0;top: $px44;width: 100vw;height: $px130;background: url("../images/icon/common/navLogo.svg") no-repeat;}
    >ul{
        padding: $px26 0 9vw 0 ;margin-top: $px200;
        >li{
            padding: $px15 $px20;
            &.on>a::after{background-image: url("../images/icon/common/up.svg");}
            >a{
                position: relative;font-size: $px18;margin-bottom: $px5;
                &::after{
                    @include transform(translateY(-25%));
                    content:"";position: absolute;width: $px16;height: $px16;right: $px20;top: 50%;background: url("../images/icon/common/down.svg") no-repeat;}
            }
        }
    }
    ul li a{display: block;height: $px25;line-height: $px25;}
    ul li ul{
        display:none;background: $dark_white;margin:0 -20px;padding: $px14 0;
        li{
            padding: $px3 $px20;
            a{font-size: $px16;}
        }
    }
    .close{position: absolute;left: 69.3vw;top: 1.1vw;width: 10vw;height: 10vw;background: url("../images/icon/common/close.svg") no-repeat;}
}
.util{
    @include transform(translateY(-50%));
    top: 50%;right: 10px;
    ul li{ 
        float: left;
        +li{margin-left: $px8;}
        button{
            @include boxsizing;
            @include radius($px4);
            font-size: $px8;font-weight: 700;border: $px1 solid $mint;width: 12.77777777777778vw;height: 6.111111111111111vw;text-align: center;
            &.btn_donate{background: $mint;}
        }
        
    }
}
/* .fade{
    @include transition(all 1s);
    opacity: 0;
    &.up{@include transform(translateY($px30));}
    &.right{@include transform(translateX($px30));}
}
.fade.on{
    opacity: 1;
    &.up{@include transform(translateY(0));}
    &.right{@include transform(translateX(0));}
} */

//footer
#footer{
    @include boxsizing;
    background: $dark_gray;width: 100%;font-size: $px12;text-align: center;margin-top:117px;padding: 50px 18px;
    >a{display: inline-block;width: 40.55555555555556vw;height: 9.3vw;padding: $px50 0 $px42;}
    ul{
        li{
        display: inline-block;
        +li{margin:0 3px;}
        .privacy{font-weight: 700;}
        }
    }
    .copyright{padding-bottom: 50px;}
}